Figs/
log/
log_onlyL/
log_onlyR/
log_right/
log_x/
results/
results_onlyL/
results_onlyR/
results_x/
tensorboard_log_only/
tensorboard_log_X/
tensorboard_log_Y/
unused/

data/test/Flickr1024_patches_masked_fixed_test/
data/test/Flickr1024_patches_masked_irregular_test/
data/test/KITTI2012_patches_masked_fixed/

data/train/Flickr1024/
data/train/Flickr1024_patches_masked_fixed/
data/train/Flickr1024_patches_masked_irregular/